.navbar {
	display: flex;
	justify-content: space-around;
	background: black;
	text-transform: uppercase;
	font-weight: bold;
	color: yellow;
	border: solid white 0.1em;
}

h1 {
	width: 100%;
	text-align: center;
}	

p {
	width: 100%;
}

.content {
	display: flex;
	flex-wrap: wrap;
	background: rgba(150, 150, 255, 0.2);
	border: solid white 0.1e;m
}

.news {
	width: 50%;
	order: 3;
	font-size: 18px;
}

#breaking {
	font-size: 25px;
	order: -1;
	width: 100%;
	text-align: center;
}